<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Super Confronto - Desculpe-nos, página não encontrada</title>
	
		<meta name="description" content="Ops! Desculpe-nos, página não encontrada" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="pt-br" />
	
		<link type="text/css" rel="stylesheet" media="screen" href="/media/css/404.css" />
	   
		<script type="text/javascript" src="/media/js/jquery-1.3.2.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function() {
				$('.sc-endereco-404').text(location.href);
			});
		</script>
	</head>

    <body>
    	
		<div class="sc-fundo-404">

			<h1>Ops!</h1>
			<h2>Página não encontrada</h2>			
			<p>O endereço abaixo não existe no Super Confronto</p>
			<p class="sc-endereco-404"></p>
			<div class="sc-logo-superconfronto"><a href="http://www.superconfronto.com.br" title="Super Confronto"><img src="/media/img/logo_cartola.png" alt="Super Confronto"></a></div>

		</div>

    </body>

</html>
