<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Super Confronto - Desculpe-nos, bola fora</title>
	
		<meta name="description" content="Ops! Desculpe-nos, bola fora" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="pt-br" />
	
		<link type="text/css" rel="stylesheet" media="screen" href="/media/css/500.css" />
	   
		<script type="text/javascript" src="/media/js/jquery-1.3.2.js"></script>
	</head>

    <body>
    	
		<div class="sc-fundo-500">

			<h1>Ops!</h1>
			<h2>Bola Fora!</h2>			
			<p>Nosso servidor se comportou de maneira incorreta</p>
			<p>Tente novamente mais tarde</p>
			<div class="sc-logo-superconfronto"><a href="http://www.superconfronto.com.br" title="Super Confronto"><img src="/media/img/logo_cartola.png" alt="Super Confronto"></a></div>

		</div>

    </body>

</html>