<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Super Confronto</title>
	
		<meta name="description" content="Liga Super Confronto do CartolaFC, participe e descubra quem é o melhor!" />
		<meta name="keywords" content="Super Confronto,Cartola FC,Futebol,Brasileirão" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="pt-br" />
		
		<link rel="shortcut icon" href="/media/img/favicon.ico" />
	
		<%def name="css()">
		<link type="text/css" rel="stylesheet" media="screen" href="/media/css/base.css" />
		</%def>
		${next.css()}
	   
		<%def name="javascript()">
		<script type="text/javascript" src="/media/js/jquery-1.6.1.min.js"></script>
		</%def>
		${next.javascript()}
	</head>

	<body>
		
		<div class="doc">

			<div class="cabecalho-bg">
				<div class="cabecalho">
					<div class="img-logo">
						<a href="http://www.superconfronto.com.br">
							<h1>Super Confronto</h1>
							<img src="/media/img/logo_superconfronto.png">
						</a>
					</div>
				</div>
			</div>

			<div class="conteudo-bg">
				<div class="conteudo">
					${self.content()}
				</div>
			</div>

			<div class="rodape-bg">
				<div class="rodape">
				</div>
			</div>

		</div>

	</body>

</html>