<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Super Confronto</title>
	
		<meta name="description" content="Participe da liga Super Confronto do CartolaFC e descubra quem é o melhor!" />
		<meta name="keywords" content="Super Confronto,Cartola FC,Futebol,Brasileirão" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="pt-br" />
		
		<link rel="shortcut icon" href="/media/img/favicon.ico" />
	
		<%def name="css()">
		<link type="text/css" rel="stylesheet" media="screen" href="/media/css/base.css" />
		</%def>
		${next.css()}
	   
		<%def name="javascript()">
		<script type="text/javascript" src="/media/js/jquery-1.6.1.min.js"></script>
		</%def>
		${next.javascript()}
	</head>

	<body>
	
		<div class="cabecalho">
			<div class="conteudo">
			
			</div>
		</div>
	
		${self.content()}

	</body>

</html>