<%inherit file="base.html"/>

<%def name="css()">
    ${parent.css()}
	<link type="text/css" rel="stylesheet" media="screen" href="/media/css/index.css" />
</%def>

<%def name="javascript()">
    ${parent.javascript()}
    <script type="text/javascript" src="/media/js/index.js"></script>
</%def>

<%def name="content()">

	<div class="coluna-esquerda">
	
		<div class="box-ranking-rodada">
			<div class="flamula"></div>
			<strong>ranking da 1ª rodada</strong>
		</div>

		<div class="box-ranking-label">
			<div class="posicao">POS.</div>
			<div class="time">TIME</div>
			<div class="pontos">PTS.</div>
		</div>
		
		<table cellpadding="0" cellspacing="0">
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">1º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/mulambo-sc">Mulambo S.C</a></td>
				<td class="pontos" valign="middle">122.86</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">2º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/c3/53/escudo_32x32_time_4940786.png"></td>
				<td class="time" valign="middle"><a href="/time/jupiroba-fc">Jupiroba FC</a></td>
				<td class="pontos" valign="middle">107.75</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">3º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/86/06/escudo_32x32_time_4766390.png"></td>
				<td class="time" valign="middle"><a href="/time/lanzillotta-fc">Lanzillotta F.C</a></td>
				<td class="pontos" valign="middle">105.65</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">4º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">5º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">6º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">7º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">8º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">9º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">10º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">11º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">12º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">13º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">14º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">15º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">16º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">17º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">18º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">19º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>
			<tr class="box-ranking-item">
				<td class="posicao" valign="middle">20º</td>
				<td class="escudo" valign="middle"><img src="http://s.glbimg.com/es/ca/escudos/times/3e/f5/escudo_32x32_time_4942888.png"></td>
				<td class="time" valign="middle"><a href="/time/bafana-bafana-fc">BAFANA*BAFANA_MF</a></td>
				<td class="pontos" valign="middle">133.05</td>
			</tr>

		</table>

	</div>

	<div class="coluna-centro">
		centro
	</div>

	<div class="coluna-direita">
		direita
	</div>

</%def>
