<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Super Confronto</title>
	
		<meta name="description" content="Convide seus amigos do Cartola FC para um Super Confronto entre times e descubra quem é o melhor!" />
		<meta name="keywords" content="Super Confronto,Cartola FC,Futebol,Brasileirão" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="pt-br" />
	
		<link type="text/css" rel="stylesheet" media="screen" href="/media/css/base.css" />
		<link type="text/css" rel="stylesheet" media="screen" href="/media/css/login.css" />
	   
		<script type="text/javascript" src="/media/js/jquery-1.3.2.js"></script>
		<script type="text/javascript" src="/media/js/login.js"></script>
	</head>

    <body>
    
   		<div class="fundo">

			<h1><a class="marca-produto" href="http://www.superconfronto.com.br">Super Confronto</a></h1>
			
			<div class="msg-superconfronto">
				<strong>
				<span>"</span>convide seus amigos do <span>Cartola FC</span> para um <span>Super Confronto</span> entre times e descubra quem é o melhor!<span>"</span>
				</strong>
			</div>

			<div class="msg-cartolafc">
				<div>jogue também</div>
				<div><a href="http://sportv.globo.com/cartola-fc"><img src="/media/img/logo_cartola.png" alt="Cartola FC" /></a></div>
				<div><strong>onde você é o cara!</strong></div>
			</div>

			<div class="produtos">

				<div class="produto-1">
					<a href="http://clicklog-af.shopping.uol.com.br/?prod=Bola+8+Campo+Race+(R1)+termotec-PENALTY&type=7&caf=84bb31460505472ba9211e3dca1ec143|80833">
						<div class="box-img-produto"><img src="/media/img/img_prod_1_home.jpg" alt="Bola" /></div>
						<div class="div-link-hover">
							<div class="titulo-produto"><strong>BOLA</strong></div>
							<div class="desc-produto">8 Campo Race (R1) termotec PENALTY</div>
							<div class="valor-produto">R$ 71,91</div>
						</div>
					</a>
				</div>

				<div>
					<a href="http://clicklog-af.shopping.uol.com.br/?prod=Chuteira+Reebok+Sprint+Lite+Pro+Rs&type=7&caf=84bb31460505472ba9211e3dca1ec143|80833">
						<div class="box-img-produto"><img src="/media/img/img_prod_2_home.jpg" alt="Chuteira" /></div>
						<div class="div-link-hover">
							<div class="titulo-produto"><strong>CHUTEIRA</strong></div>
							<div class="desc-produto">Reebok Sprint Lite Pro Rs</div>
							<div class="valor-produto">R$ 199,90</div>
						</div>
					</a>
				</div>
	
			</div>

	   		<div class="box-info-fundo"></div>
	   		
	   		<div class="box-info">
	   		
	   			<div class="msg-login">
	   				<div id="id-msg-login-1" class="msg-login-1"><strong>entre e jogue!</strong></div>
	   				<div id="id-msg-login-2" class="msg-login-2"><a href="http://www.superconfronto.com.br">www.superconfronto.com.br</a></div>
	   			</div>
	   			
	   			<div>
	   				<div><strong>Email / Login</strong></div>
	   				<div><input id="id-login" type="text" name="login" class="text-box" /></div>
	   			</div>

	   			<div>
	   				<div><strong>Senha</strong></div>
	   				<div><input id="id-senha" type="password" name="senha" class="text-box" /></div>
	   			</div>
	   			
	   			<div class="btn-acessar"><a id ="id-autenticacao" href="#"><img id="img-acessar" src="/media/img/btn_acessar.png" alt="Acessar" /></a></div>
	   			
	   			<div class="link-esqueci-senha"><a href="https://loginfree.globo.com/recuperacaoSenha">esqueci a senha</a></div>
	   			
	   			<div class="box-cadastre-se">
	   				<div class="box-cadastre-se-msg-1"><strong>Ainda não criou sua conta?</strong></div>
	   				<div class="box-cadastre-se-msg-2">Para jogar o <strong>Super Confronto</strong> é necessário ter uma conta no <strong>Cartola FC</strong>.</div>
	   				<div><a href="https://loginfree.globo.com/cadastro/438"><img id="img-cadastre-se-agora" src="/media/img/btn_cadastre-se_agora.png" alt="Cadastre-se Agora" /></a></div>
	   			</div>

	   		</div>
	   		
		</div>
    
    </body>

</html>
