* {
	margin: 0;
	padding: 0;
	font-family: arial;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline-style: none;
	outline-width: 0;
}

img {
	border: 0;
}

.cabecalho {
	height: 110px;
	background-image: url("/media/img/bg_header.jpg");
}

.conteudo {
	background: red;
	margin: 0 auto;
	height: 110px;
	width: 960px;
}