* {
	margin: 0;
	padding: 0;
	font-family: arial;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline-style: none;
	outline-width: 0;
}

img {
	border: 0;
}

.sc-barra-header-publicidade-bg {
	background-color: #F3F3F3;
}

.sc-barra-header-publicidade-conteudo {
	background: #FF0000;
	width: 960px;
	height: 40px;
	margin: 0 auto;
}

.sc-barra-header-superconfronto-bg {
	background: transparent url(/media/img/grama2.jpg) repeat-x;
}

.sc-barra-header-superconfronto-conteudo {
	width: 960px;
	height: 88px;
	margin: 0 auto;
}

.sc-barra-header-menu-bg {
	background: #538428;
	border-top: solid 1px #114411;
}

.sc-barra-header-menu-conteudo {
	width: 960px;
	height: 28px;
	margin: 0 auto;
}

.sc-barra-footer-publicidade-bg {
	background-color: #538428;
}

.sc-barra-footer-publicidade-conteudo {
	width: 960px;
	height: 56px;
	margin: 0 auto;
}

.sc-barra-footer-superconfronto-bg {
	background-color: #456E20;
}

.sc-barra-footer-superconfronto-conteudo {
	width: 960px;
	height: 53px;
	margin: 0 auto;
	padding-top: 27px;
}

.sc-corpo-bg {
	padding-top: 30px;
	padding-bottom: 30px;
}

.sc-corpo-conteudo {
	width: 960px;
	margin: 0 auto;
}

.sc-barra-footer-superconfronto-copyright {
	background: transparent url(/media/img/logotipo_sporTV.gif) no-repeat;
	margin: 0 auto;
	width: 520px;
	font-size: 12px;
	text-align: right;
	height: 19px;
	color: #FFFFFF;
	padding-top: 5px;
}

.sc-barra-footer-publicidade-links {
	font-size: 11px;
	text-align: center;
	padding: 20px 0;
}

.sc-barra-footer-publicidade-links ul li {
	display: inline;
	padding-left: 5px;
	padding-right: 5px;
	border-right: 1px #FFFFFF solid;
}

.sc-barra-footer-publicidade-links ul li a {
	color: #FFFFFF;
}

.sc-barra-footer-publicidade-links ul li.ultimo {
	border-right: none;
}