.coluna-esquerda {
	width: 280px;
	padding: 10px;
	float: left;
}

.coluna-centro {
	width: 280px;
	padding: 10px;
	float: left;
}

.coluna-direita {
	width: 280px;
	padding: 10px;
	float: left;
}

.coluna-esquerda .box-ranking-rodada {
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-top: 2px solid #4E6E0B;
    padding: 10px;
}

.coluna-esquerda .box-ranking-rodada .flamula {
	background: url("/media/img/flamula.png") no-repeat;
	float: left;
	width: 52px;
	height: 39px;
	margin-top: -10px;
	margin-right: 10px;
}

.coluna-esquerda .box-ranking-rodada strong {
    color: #333333;
    font-size: 16px;
}

.coluna-esquerda .box-ranking-label {
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-size: 10px;
    color: #656565;
    font-weight: bold;
    display: table;
    background-color: #F7F7F7;
}

.coluna-esquerda .box-ranking-label .posicao {
	width: 25px;
	float: left;
    padding: 10px;
}

.coluna-esquerda .box-ranking-label .time {
	width: 153px;
	float: left;
    padding: 10px;
}

.coluna-esquerda .box-ranking-label .pontos {
	width: 40px;
	float: left;
    padding: 10px;
    text-align: right;
}

.coluna-esquerda .box-ranking-item {
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    display: table;
}

.coluna-esquerda .box-ranking-item .posicao {
	width: 25px;
	max-width: 25px;
    padding: 10px;
    font-size: 16px;
    color: #999999;
}

.coluna-esquerda .box-ranking-item .escudo {
	width: 32px;
	max-width: 32px;
	padding-top: 5px;
}

.coluna-esquerda .box-ranking-item .time {
	width: 131px;
	max-width: 131px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 13px;
    overflow: hidden;
}

.coluna-esquerda .box-ranking-item .pontos {
	width: 40px;
	max-width: 40px;
    padding: 10px;
    text-align: right;
    font-size: 12px;
    color: #999999;
}