a {
	color: #EEEEDD;
}

body {
	margin-top: 50px;
	background-color: #EEEEDD;
}

.sc-fundo {
	margin: 0 auto;
	width: 840px;
	height: 520px;
	background-image: url("/media/img/fundo_superconfronto.jpg");
}

.sc-marca-produto {
	background-image: url("/media/img/logo_superconfronto.png");
	float: left;
	text-indent: -9999px;
	height: 92px;
	width: 270px;
	margin-top: 50px;
	margin-left: 130px;
}

.sc-box-info-fundo {
	width: 250px;
	height: 420px;
	position: absolute;
	margin-top: 50px;
	margin-left: 540px;
	background-color: #EEEEDD;
	opacity: 0.07;
}

.sc-box-info {
	width: 210px;
	height: 380px;
	position: absolute;
	margin-top: 50px;
	margin-left: 540px;
	padding: 20px;
	color: #C0C07C;
	font-size: 12px;
}

.sc-msg-login {
	height: 44px;
	margin-bottom: 15px;
}

.sc-msg-login-1 {
	font-size: 20px;
}

.sc-msg-login-2 {
	font-size: 14px;
	color: #EEEEDD;
}

.sc-msg-login-1-error {
	font-size: 20px;
	color: #FF3333;
}

.sc-msg-login-2-error {
	font-size: 12px;
	color: #FF3333;
}

.sc-text-box {
	border: 0;
	background: transparent url(/media/img/bg_caixa_texto_login.png) no-repeat;
	font-size: 16px;
	color: #333333;
	height: 20px;
	width: 202px;
	padding: 4px;
	margin-top: 3px;
	margin-bottom: 10px;
}

.sc-btn-acessar {
	margin-top: 11px;
	margin-bottom: 10px;
}

.sc-link-esqueci-senha {
	font-size: 11px;
}

.sc-box-cadastre-se {
	margin-top: 15px;
	border-top: 2px solid #EEEEDD;
	padding-top: 15px;
}

.sc-box-cadastre-se-msg-1 {
	font-size: 16px;
}

.sc-box-cadastre-se-msg-2 {
	font-size: 11px;
	color: #EEEEDD;
	margin-top: 8px;
	margin-bottom: 8px;
}

.sc-box-cadastre-se-msg-2 strong {
	font-size: 11px;
	color: #C0C07C;
}

.sc-msg-superconfronto {
	margin-top:184px;
	margin-left:50px;
	width:440px;
	position:absolute;
	color: #C0C07C;
	font-size: 20px;
	font-style: italic;
	line-height: 33px;
}

.sc-msg-superconfronto span {
	font-size: 30px;
	color: #EEEEDD;
}

.sc-produtos {
	margin-top: 344px;
	margin-left: 290px;
	width:230px;
	position:absolute;
	color: #C0C07C;
	font-style: italic;
	font-size: 12px;
}

.sc-produto-1 {
	display: table;
	margin-bottom: 15px;
}

.sc-box-img-produto {
	float: left;
	padding-right: 10px;
}

.sc-produtos img {
	border: 2px solid #C0C07C;
	width: 50px;
	height: 50px;
}

.sc-titulo-produto {
	color: #EEEEDD;
	text-transform: uppercase;
}

.sc-div-link-hover:hover {
	text-decoration: underline;
}

.sc-desc-produto {
	color: #C0C07C;
}

.sc-valor-produto {
	font-size: 10px;
	color: #EEEEDD;
}

.sc-msg-cartolafc {
	margin-top: 350px;
	margin-left: 70px;
	position: absolute;
	color: #EEEEDD;
	font-style: italic;
	text-align: center;
}

.sc-msg-cartolafc img {
	margin-top: 5px;
	margin-bottom: 5px;
}