.sc-box-msg {
	background: #333333;
	display: none;
	width: 100%;
	text-align:center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	filter: alpha(opacity=95);
	opacity: 0.95;
}

.sc-box-msg * {
	filter: alpha(opacity=100);
	opacity: 1;
}

.sc-box-msg .sc-msg-fechar {
	float:right;
}

.sc-box-msg .sc-msg-fechar a {
	display: block;
	width: 22px;
	height: 22px;
	margin: 5px;
}

.sc-box-msg .sc-msg-content {
	padding-top: 12px;
	padding-bottom: 12px;
}

.sc-box-msg .sc-msg-content img {
	margin-right: 10px;
	vertical-align: middle;
}

.sc-box-msg .sc-msg-content strong {
	color: #FFFFFF;
	vertical-align: middle;
	letter-spacing: -1px;
	font-size: 20px;
}